.nav {
    position: fixed;
    top: 0; 
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;

}
.nav_logo {
    width: 100px;
    position: fixed;
    left: 20px;
    object-fit: contain;
}

.nav_avitar {
    position: fixed;
    right: 20px;
    width: 50px;
    object-fit: contain;

}