.nav {
    position: fixed;
    top: 0; 
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    height: 20px;
    z-index: 1;

    /* Animations for all nav */
    transition-timing-function: ease-in;
    transition: all .3s;
}

.nav_black{
    background-color: #111;
}

.nav_logo {
    width: 100px;
    position: fixed;
    left: 20px;
    object-fit: contain;
}

.nav_avitar {
    position: fixed;
    right: 20px;
    width: 40px;
    object-fit: contain;

}